<!DOCTYPE html>
<html>
<head>
  <title>Rapidcrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--   Navigation bar start -->
  
  <%= link_to "Home", welcome_home_path %>
  <%= link_to "About Us", welcome_about_path %>
  <%= link_to "Contact", welcome_contact_path %>
  <%= link_to "Leads", leads_path %>
  
<!--   Navigation bar end -->
  
<%= yield %>

</body>
</html>
